.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    background-color: black;
    cursor: pointer;
}


.title{
    color: white;
    padding-top: 3px;
}

.title:hover{
    color: #0d6efd;
}

.navs{
    color:white
}

#hr1 {
    color: white;
}

.icon-sidebar{
    
    width: 30px;
    align-items: center;
}